# 虚拟环境
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 构建目录
build/
dist/
*.spec

# 数据文件
data/notes/*.json
data/config/*.json
!data/notes/.gitkeep
!data/config/.gitkeep

# IDE
.vscode/
.idea/

# 临时文件
*.ico
version.txt